:root {
  --bg-color: #010811;
  --main-color: #ffd000;
  --text-color: #e0e0e0;
  --accent-color: #ffd000;
  --accent-second-color: #4dabf7;
}

.contact-section {
  padding: 60px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--accent-second-color);
  position: relative;
  display: inline-block;
}

.section-header h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background: var(--accent-second-color);
  bottom: -10px;
  left: 25%;
  transition: width 0.6s ease-in-out;
}

.section-header p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  opacity: 0.85;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.contact-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  border: 1px solid rgba(77, 171, 247, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  &:hover {
    border-color: var(--accent-second-color);
    transform: scale(1.05);
  }
}

// .contact-card: {
//   transform: translateY(-8px);
//   box-shadow: 0 12px 24px rgba(77, 171, 247, 0.15);
//   // border-color: var(--accent-second-color);
// }

.contact-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(77, 171, 247, 0.1) 0%,
    transparent 70%
  );
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.contact-card:hover::before {
  opacity: 1;
}

.contact-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  transition: transform 0.6s ease-in-out;
}

.contact-card:hover .contact-icon {
  transform: rotate(10deg) scale(1.1);
}

.contact-title {
  font-size: 1.3rem;
  margin-bottom: 12px;
  color: var(--text-color);
  font-weight: 600;
}

.contact-description {
  font-size: 0.95rem;
  margin-bottom: 20px;
  line-height: 1.5;
  opacity: 0.85;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  color: var(--bg-color);
  background: var(--accent-second-color);
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: transform 0.6s ease-in-out, background 0.6s ease-in-out,
    border-color 0.6s ease-in-out;
  margin-top: auto;
}

.contact-button:hover {
  transform: scale(1.05);
  background: rgba(77, 171, 247, 0.8);
  border-color: var(--text-color);
}

@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .section-header h2 {
    font-size: 2rem;
  }

  .contact-icon {
    width: 45px;
    height: 45px;
  }

  .contact-button {
    padding: 10px 20px;
  }
}
