.how-we-work {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  &__card {
    position: relative;
    background: #1c2526;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.6s ease;
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: var(--acent-color);
    transition: transform 0.3s ease;

    .how-we-work__card:hover & {
      transform: scale(1.2);
    }
  }

  &__step {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin: 50px 0 15px;
    transition: color 0.3s ease;

    .how-we-work__card:hover & {
      color: var(--acent-color);
    }
    &-number {
      font-size: 12rem;
      border-radius: 20px;
      width: 140px;
      height: 180px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      color: #ffffff14;
      top: 0;
      right: 0%;
    }
  }

  &__description {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__cta {
    display: block;
    width: max-content;
    margin: 40px auto 0;
    padding: 12px 24px;
    background: var(--acent-color);
    color: #010811;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;

    &:hover {
      background: var(--acent-second-color);
      color: var(--text-color);

      i {
        transform: translateX(5px);
      }
    }
  }

  // Адаптивность
  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    padding: 40px 15px;

    &__title {
      font-size: 30px;
    }

    &__grid {
      grid-template-columns: 1fr;
    }

    &__step {
      font-size: 20px;
    }

    &__description {
      font-size: 14px;
    }

    &__cta {
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 10px;

    &__title {
      font-size: 24px;
    }

    &__card {
      padding: 20px;
    }

    &__icon {
      font-size: 24px;
      top: 15px;
      left: 15px;
    }

    &__step {
      font-size: 18px;
      margin: 40px 0 10px;
    }
  }
}
