.services {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__card {
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(255, 205, 25, 0.15);
    position: relative;
    transition: all 0.6s ease;

    border: 1px solid #ffffff49;

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #3498db;
    transition: transform 0.3s ease;
    i {
      color: var(--acent-color);
    }

    .services__card:hover & {
      transform: scale(1.2);
    }
  }

  &__card-title {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin: 50px 0 15px;
    transition: color 0.3s ease;
  }

  &__description {
    font-size: 16px;
    color: #bababa;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    text-decoration: none;
    transition: all 0.3s ease;

    i {
      margin-left: 8px;
      transition: transform 0.3s ease;
    }

    &:hover {
      color: #2980b9;

      i {
        transform: translateX(5px);
      }
    }
  }

  // Адаптивность
  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    padding: 40px 15px;

    &__title {
      font-size: 30px;
    }

    &__grid {
      grid-template-columns: 1fr;
    }

    &__card-title {
      font-size: 20px;
    }

    &__description {
      font-size: 14px;
    }

    &__link {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 10px;

    &__title {
      font-size: 24px;
    }

    &__card {
      padding: 20px;
    }

    &__icon {
      font-size: 24px;
      top: 15px;
      left: 15px;
    }

    &__card-title {
      font-size: 18px;
      margin: 40px 0 10px;
    }
  }
}
